---
layout: default
---
<div class="phdr"><i class="fa fa-book"></i> Mới cập nhật <a href="/contribute.html" style="float:right" title="Viết bài mới"><button type="submit" name="submit">Viết bài mới</button></a></div>

{% assign min = 1 %}
{% assign max = 4 %}
{% assign diff = max | minus: min %}
{% assign randomNumber = "now" | date: "%N" | modulo: diff | plus: min %}

{% for post in paginator.posts %}
<div class="list1">
  <span class="topic cat{{ randomNumber }}"> {{ post.date | date: "%d/%m/%Y" }} </span>
  <a href="{{ post.url | prepend: site.baseurl }}"> {{ post.title }}</a>
</div>
{% endfor %}

                  {% if paginator.total_pages > 1 %}
                  <div class="archive-pagination pagination">
                     <ul>
                        {% if paginator.previous_page %}
								 <li class="pagination-previous"><a href="{{ paginator.previous_page_path | prepend: site.baseurl | replace: '//', '/' }}">&#x000AB;</a></li>{% else %}{% endif %}
                        {% for page in (1..paginator.total_pages) %}
                        {% if page == paginator.page %}
                        <li class="active"><a href="{{ site.paginate_path | prepend: site.baseurl | replace: '//', '/' | replace: ':num', page }}" aria-label="Current page" aria-current="page"><span class="screen-reader-text">Page </span>{{ page }}</a></li>
                        <span class="active"></span>
                        {% elsif page == 1 %}
                        <li><a href="/"><span class="screen-reader-text">Page </span>{{ page }}</a></li>
                        {% else %}
                        <li><a href="{{ site.paginate_path | prepend: site.baseurl | replace: '//', '/' | replace: ':num', page }}"><span class="screen-reader-text">Page </span>{{ page }}</a></li>
                        {% endif %}{% endfor %}
                        {% if paginator.next_page %}
							   <li class="pagination-next"><a href="{{ paginator.next_page_path | prepend: site.baseurl | replace: '//', '/' }}">&#x000BB;</a></li>{% else %}{% endif %} 
                     </ul>
                  </div>		 
                  </div>
                  {% endif %} 
               </main>
