 <div style="background-image: url('https://i.imgur.com/7C1Yh7u.jpg');color:#fff;padding:5px;border-style: solid; border-color:#1b1b2f;text-align: center;" itemscope itemtype="https://schema.org/WPHeader">
<a href="/"><img src="http://dorew.viwap.com/images/m.png" height="60" width="60"></a>
<div itemprop="headline">{{ site.title }} - <span itemprop="description">{{ site.subtitle }}</span></div>
</div>

<div style="background-image: linear-gradient(to bottom, #0a0b0c, #0f1012, #131517, #17181c, #1a1c20);padding-bottom:4px;border-color:#ffffff;" align="center"> 
<table width="100%" cellpadding="0" cellspacing="0">  
<tr> <td width="33%"><div style="border-width:3px;border-color:#ffffff;padding-left:2px;padding:8px;" align="center"><a href="/upanh/" title="Up ảnh" style="color:#FFFFFF"> <b><i class="fa fa-bars"></i></b> </a> </div> </td> 
<td width="34%"> <div style="background-color:#ffffff;border-width:1px;border-color:#fa6c5f;padding:8px;" align="center"> <a href="/" title="Trang Chủ"><b><i class="fa fa-home" aria-hidden="true"></i></b></a></div></td>
<td width="33%"><div style="border-width:3px;border-color:#ffffff;padding-left:2px;padding:8px;" align="center"><a href="/search/" title="Tìm kiếm" style="color:#FFFFFF;"><b><i class="fa fa-search" aria-hidden="true"></i></b></a></div></td>
</tr>
 </table>
</div>
<hr style="border-top:#f0b400 solid 2px;">
