<div class="menu" style="text-align: center; padding: 15px;">
  <a href="/">
  <img src="https://i.imgur.com/5iXHxAB.png"/></a>
  <br/>{{ site.title }} - {{ site.subtitle }}
</div>
<div class="header" style="text-align:center" id="oubliez">
   <a href="/" title="Trang chủ"><i style="padding:5px" class="fa fa-home fa-2x" aria-hidden="true"></i></a>
  {% for my_page in site.pages %}
   {% if my_page.show_in_nav %}
      <a href="{{ my_page.url | prepend: site.baseurl }}" title="{{ my_page.title }}"><i style="padding:5px" class="fa {{ my_page.fa_icon }} fa-2x" aria-hidden="true"></i></a>
   {% endif %}
  {% endfor %}
   <a href="https://file.oubliez.gq" title="Kho lưu trữ"><i style="padding:5px" class="fa fa-cloud-upload fa-2x" aria-hidden="true"></i></a>
</div>

<div class="main">
